<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    beego仿小米商城项目首页

    <br>
    <h3> qrcode </h3>

    <pre>


    //reg := regexp.MustCompile(`qr[a-z]+[1-9][a-z]*`)
    //reg := regexp.MustCompile(`qr[a-z]+[1-9][a-z]*`)
    reg := regexp.MustCompile(`[qr]*[a-z]+[1-9][a-z]*`)

     </pre>



    <ul>
        <li>qrcode1</li>
        <li>qrcode2</li>
        <li>qrcode3</li>
        <li>qrcode4</li>
        <li>qrcode5</li>

        <li>qrcode6a</li>
        <li>aqrcode6a</li>
    </ul>

    <ul>
        <li> --- 10 位</li>
        <li>13104884551</li>
        <li>18104884552</li>

        <li> --- 11 位</li>
        <li>131048845532</li>
    </ul>

    <ul>
        <li> email</li>
        <li> 123213@qq.com </li>
        <li> qdasfsad@163.com </li>

    </ul>

{{/*    {{ .png }}*/}}
{{/*    <img src="{{.png}}">*/}}
    
</body>
</html>